.flex-column {
    flex-direction: column;
}

.register {
    min-height: 65vh;
    display: flex;
    background-color: #FFEED1;
}

.footer {
    min-height: 35vh;
    display: flex;
    background-color: #111118;
    text-align: center;
}

.footer img {
    max-width: 87px;
    margin-bottom: 24px;
}

.button {
    font-family: 'LunchType-Medium';
    border: solid 2px #FFEED1;
    color: #FFEED1;
    line-height: 1;
    padding: 6px 12px;
    min-width: 120px;
    text-align: center;
    text-decoration: none;
}

.register .container {
    display: flex;
}

.register h2 {
    font-size: 40px;
    font-family: 'LunchType-Medium';
    margin-bottom: 48px;
    line-height: 1.1;
}

.form {
    margin: 48px 24px;
}

.sign-up {
    display: flex;
    border-bottom: solid 2px #00B290;
    padding-bottom: 12px;
}

.email-input {
    background: none;
    border: none;
    font-size: 21px;
    flex: 1;
    outline: none;
}

.submit {
    background: none;
    border: none;
    font-size: 21px;
    font-family: 'LunchType-Medium';
    outline: none;
}

.eyes {
    width: 108px;
    height: 32px;
    background-image: url('images/eyes_open.svg');
}

.hand {
    width: 57px;
    height: 89px;
    background-image: url('images/ok_hand.svg');
    align-self: flex-end;
}

.eyes,
.hand {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


@media (max-width: 780px) {

.register .container {
    /*stack boxes on top*/
    flex-direction: column;
}

.register h2 {
    font-size: 30px;
}

.form {
    margin: 24px 0;
}


}