/* Type */

@font-face {
    font-family: 'LunchType-Regular';
    src: url('fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
         url('fonts/lunchtype22-regular-webfont.woff') format('woff'),
         url('fonts/lunchtype22-regular-webfont.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'LunchType-Medium';
    src: url('fonts/lunchtype24-medium-expanded-webfont.woff2') format('woff2'),
         url('fonts/lunchtype24-medium-expanded-webfont.woff') format('woff'),
         url('fonts/lunchtype24-medium-expanded-webfont.ttf') format('truetype');
  }


  /* Styles */

  body {
      font-family: 'LunchType-Regular', sans-serif;
      font-size: 18px;
      line-height: 1.5;
      margin: 0;
  }

.section {
    min-height: 100vh;
    /*enables flexbox so you can use margin auto*/
    display: flex;
    position: relative;
}

.section-pad {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container {
    max-width: 810px;
    /*centers box like magic!*/
    margin: auto;
}

.intro {
    background-image: url(images/intro.jpg);
    color: white;
}

.intro p {
    font-size: 36px;
    line-height: 1.2;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 112px;
}

.logo img {
    width: 100%;
}

/*helper/utility class */
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*intro animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        transform: translate(0);
    }

    100% {
        opacity: 1;
    }
}

.appear {
    /*Sets starting point*/
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0.5s;
    /*makes sure it stays on the last keyframeo*/
    animation-fill-mode: forwards;
}

.marquee {
    position: absolute;
    top: 3vh;
    left: 0;
    width: 100%;
    /*each letter 5% of viewport width*/
    font-size: 5vw;
    font-family: 'LunchType-Medium', sans-serif;
    line-height: 1;
    /*stops scroll bars*/
    overflow: hidden;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
     
    100% {
        transform: translateX(-3000vw);
    }
}

/*makes sure text stays in line*/
.marquee span {
    animation: moveLeft 200s infinite;
    white-space: nowrap;
    transform: translateX();
    display: block;
}

.mix-difference {
    mix-blend-mode: difference;
}

.day {
    /*so circles are relative*/
    position: relative;
    text-align: center;
    overflow: hidden;
}

.day .container {
    /*this will maker content display on top of shapes*/
    position: relative;
    z-index: 2;
}

.day-1 {
    background-color: #FF74A7;
}

.day-2 {
    background-color: #1BB190;
}

.day-3 {
    background-image: url('images/day-3.jpg');
}

.lineup {
    text-align: center;
}

.date {
    font-family: 'LunchType-Medium';
    font-size: 28px;
    color: #FFEECF;
    margin-bottom: 48px;
    line-height: 1;
}

.lineup h2 {
    font-family: 'LunchType-Medium';
    font-size: 56px;
    line-height: 1;
    margin-bottom: 6px;
}

.lineup p {
    font-size: 21px;

}

.lineup li {
    margin-bottom: 24px;
    list-style: none;
}

.scroll-to {
    position: absolute;
    left: 50%;
    bottom: 3vh;
    transform: translateX(-50%);

    width: 64px;
    height: 32px;

    background-image: url('images/down-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.scroll-to-intro {
    background-image: url('images/down-arrow-light.svg')
}


@media (max-width: 640px) {

    .marquee {
     /*reset marquee back to default position*/
        position: relative;
        top: auto;
        left: auto;
        width: 90vw;
        margin-bottom: 24px;
    }

    .logo {
        max-width: 64px;
        margin-bottom: 24px;
    }
    
    .intro p {
        font-size: 20px
    }
    
    .scroll-to {
        display: none;
    }

    .lineup h2 {
        font-size: 30px;
    }

    }